<div class="bg-home-cover bg-cover bg-center bg-no-repeat p-12 md:p-20 text-center bg-gray-200">
    <div class="border-4 border-white bg-black bg-opacity-50 p-12 md:p-20 max-w-5xl mx-auto">
        <h1 class="block text-white font-medium inter text-3xl md:text-4xl lg:text-5xl pb-8 border-b border-white tracking-tight lg:leading-masthead">{{ mastHeadline }}</h1>

        {% if mastSubHeadline %}
            <h2 class="block pt-8 text-white font-light text-3xl tracking-wide">{{ mastSubHeadline }}</h2>
        {% endif %}

    </div>   
</div>
