<!DOCTYPE html>
<html lang="en">
<head>
    {% include "layouts/head.njk" %}
</head>

<body {% if bodyClass %} class="{{ bodyClass }}" {% endif %}>
{% include "layouts/header.njk" %}
<div class="container">
    

        <main {% if mainID %} id="{{ mainID }}" {% else %} id="main" {% endif %} class="container">
             {{ content | safe }}
        </main>

{% include "layouts/footer.njk" %}
</div>
</body>
</html>