<!DOCTYPE html>
<html lang="en">
<head>
    {% include "layouts/head.njk" %}
</head>

<body {% if bodyClass %} class="{{ bodyClass }}" {% endif %}>
{% include "layouts/header.njk" %}

{% if hasMast %}
    {% include "components/pageMast.njk" %}
{% endif %}


<main {% if mainID %} id="{{ mainID }}" {% else %} id="main" {% endif %} class="container mt-20">
   {% block main  %}
   {% endblock %}
</main>


{% if hasSidebar %}
    {% block sidebar %}{% endblock %}
{% endif %}


{% include "layouts/footer.njk" %}
</body>
</html>