{% include "layouts/head/siteMeta.njk" %}
{% include "layouts/head/title.njk" %}
{% include "layouts/head/pageMeta.njk" %}
{% include "layouts/head/style.njk" %}
{% include "layouts/head/scripts.njk" %}