<!-- Main Navigation Styles -->
{% set listyle = "" %}
{% set linkShared = "text-lg text-gray-600 font-normal hover:text-gray-900" %}
{% set linkStyle = "block py-5 px-3 ml-4" %}

<div class="items-center hidden md:flex">

    {% set navPages = collections.all | eleventyNavigation %}

    {% macro renderNavListItem(entry) %}
    {% set isHomepage = entry.url == '/' %}
    {% set isActive = page.url | startsWith(entry.url) %}


        <li class="{% if entry.children.length %}group{% endif %} {% if entry.url == page.url %}active{% endif %}">
            <a  href="{{ entry.url | url }}"
                class="{% if isActive and not isHomepage %}active{% endif %}">
                {{ entry.title }}</a>
            
            <ul class="absolute hidden group-hover:block bg-white border border-gray-200 z-50 font-medium border-b-0 border-t-0 shadow-md">
                {% for child in entry.children %}
                    {{ renderNavListItem(child) }}
                {% endfor %}
            </ul>
        </li>

    {% endmacro %}

    <ul class="main-navigation">
        {%- for entry in navPages %}
            {{ renderNavListItem(entry) }}
        {%- endfor -%}
    </ul>




</div>

