<nav x-data="{ open: false }" class="fixed sticky top-0 bg-white border-b" role="navigation" aria-label="Main Menu">
  <div class="container">
    <div class="flex items-center justify-between h-28">

      <div class="flex-shrink-0">
        <a href="/">
          {% include "layouts/header/logo.njk" %}
        </a>
      </div>
      
      {% include "layouts/header/mainLinks.njk" %}
      {% include "layouts/header/mobileButton.njk" %}

    </div>
    
  </div>
  {% include "layouts/header/mobileMenu.njk" %}
</nav>
