{% set navPages = collections.all | eleventyNavigation %}

<nav class="relative bg-gray-100 placeholder:text-white">
    {%- for entry in navPages %}
        <a href="{{ entry.url | url }}" class="">{{ entry.title }}</a>
    {%- endfor %}
</nav>