{% set toplinkStyle = "inline-flex text-center px-6 py-5 leading-none border-r" %}

<div class="border-b text-sm font-medium bg-neutral-100 uppercase">
    <div class="container">

        <div class="flex flex-wrap items-center">

            <div class="w-1/2 hidden md:block">
                <a href="/" class="{{ toplinkStyle }} pl-2">Home</a>
                <a href="/connect/" class="{{ toplinkStyle }}">Connect</a>
            </div>

            <div class="w-full md:w-1/2 text-center md:text-right">
                <p class="py-3 lg:py-0">Digital Commerce Creators Since 2007</p>
            </div>
        
        </div>
        
    </div><!-- End Container -->
</div><!-- End Top Bar-->